.gfcMiI {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 3660px;
  overflow: hidden;
}

.hKrMew {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px 2rem;
}

@media (min-width: 900px) {
  .hKrMew {
    margin: 0px auto;
    width: 1000px;
  }
}

.A-DvSD {
  position: absolute;
  top: -120px;
  left: -670px;
  width: 900px;
  height: 900px;
  transition: transform 0.25s ease 0s;
}

.ggkbIA {
  position: absolute;
  top: 100px;
  left: -1520px;
  width: 5000px;
  height: 5000px;
  overflow: hidden;
  transition: transform 0.25s ease 0s;
}

.gcuorl {
  position: absolute;
  top: 100px;
  left: 230px;
  width: 40px;
  height: 40px;
  transition: transform 0.25s ease 0s;
}

.bKKeqj {
  position: absolute;
  top: 20px;
  left: 620px;
  width: 120px;
  height: 120px;
  transition: transform 0.25s ease 0s;
}

.cKQAGt {
  position: absolute;
  top: 170px;
  left: 930px;
  width: 60px;
  height: 60px;
  transition: transform 0.25s ease 0s;
}

.cFjovm {
  position: absolute;
  top: 770px;
  left: -130px;
  width: 30px;
  height: 30px;
  transition: transform 0.25s ease 0s;
}

.cHZRtq {
  position: absolute;
  top: 470px;
  left: 330px;
  width: 60px;
  height: 60px;
  transition: transform 0.25s ease 0s;
}

.ifvfKu {
  position: absolute;
  top: 320px;
  left: 930px;
  width: 190px;
  height: 190px;
  transition: transform 0.25s ease 0s;
}

.VhlsA {
  position: absolute;
  top: 1750px;
  left: -1400px;
  width: 4800px;
  height: 4800px;
  overflow: hidden;
  transition: transform 0.25s ease 0s;
}

.dZmJga {
  position: absolute;
  top: 1020px;
  left: 730px;
  width: 190px;
  height: 190px;
  transition: transform 0.25s ease 0s;
}

.hrPQW {
  position: absolute;
  top: 1560px;
  right: -190px;
  width: 120px;
  height: 120px;
  transition: transform 0.25s ease 0s;
}